{% extends "templates/login.html" %}

{% macro email_login_body() -%}
<div class="page-card-body">
	<div class="form-group">
		<label class="form-label sr-only" for="login_email">{{ login_label or _("Email")}}</label>
		<div class="email-field">
			<input type="text" id="login_email" class="form-control"
				placeholder="{% if login_name_placeholder %}{{ login_name_placeholder  }}{% else %}{{ _('jane@example.com') }}{% endif %}"
				required autofocus autocomplete="username">

			<svg class="field-icon email-icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<use class="es-lock" href="#es-line-email"></use>
			</svg>
		</div>
	</div>

	<div class="form-group">
		<label class="form-label sr-only" for="login_password">{{ _("Password") }}</label>
		<div class="password-field">
			<input type="password" id="login_password" class="form-control" placeholder="•••••"
				autocomplete="current-password" required>

			<svg class="field-icon password-icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
				xmlns="http://www.w3.org/2000/svg">
					<use class="es-lock" href="#es-line-lock"></use>
			</svg>
			<span toggle="#login_password" class="toggle-password text-muted">{{ _('Show') }}</span>
		</div>
	</div>
</div>

 

<div class="page-card-actions">
	<button class="btn btn-sm btn-primary btn-block btn-login" type="submit">
		{{ _("Login") }}</button>

	{% if ldap_settings and ldap_settings.enabled %}
	<button class="btn btn-sm btn-default btn-block btn-login btn-ldap-login">
		{{ _("Login with LDAP") }}</button>
	{% endif %}
</div>
{% endmacro %}

{% block head_include %}
{{ include_style('login.bundle.css') }}
{% endblock %}

{% macro logo_section() %}
<!-- <div class="page-card-head">
	<h2>Pls login this page in frappe/frappe/www/login.html</h2>
	<img class="app-logo" src="{{ logo }}">
	<h4>Welcome back, Please enter your username and password to login</h4>
</div> -->
{% endmacro %}

{% block page_content %}
<!-- {{ for_test }} -->
<div class="main-wrapper-login">

	<section class="auth-sidebar">
		<div class="auth-sidebar-content">
			<header>
					<a href="#" class="logo">
					  <img src="assets/estc_erp/images/red-full-text-epos.svg" />
					</a>
					<h1>On being<br>solutions-oriented.</h1>
			</header>
			<div class="artwork">
				<div class="artwork-image"></div>
				  <p class="artwork-attribution">
					©Design by ePOS Team
				  </p>
			  </div>
		</div>
	</section>

	<section class='for-login for-login-content'>
		<div class="login-content page-card login-content-main">
			<div class="auth-content">
			{{ logo_section() }}
			<form class="form-signin form-login" role="form">
				 
					{{ email_login_body() }}
				 
			</form>

			</div>
		</div>
		 
	</section>

	

</div>
{% endblock %}

{% block script %}
<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}
 
